body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}


header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #00bcd4;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}


h2 {
    color: #333;
}


ul li {
    margin: 8px 0;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
.search-container {
    text-align: center;
    margin: 20px 0;
}

#search {
    width: 80%;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #00bcd4;
    border-radius: 25px;
}

#search:focus {
    border-color: #ff5722;
}

#search::placeholder {
    color: #aaa;
    font-style: italic;
}